{
  "viewers": "[{ "email":"" }]",
  "machineNamingTemplate": "",
  "sharedResources": true,
  "operationTimeout": 0,
  "members": "[{ "email":"" }]",
  "zoneAssignmentConfigurations": [
    {
      "storageLimitGB": 0,
      "cpuLimit": 0,
      "memoryLimitMB": 0,
      "zoneId": "",
      "maxNumberInstances": 0,
      "priority": 1
    }
  ],
  "name": "",
  "description": "",
  "constraints": "{"network":[{"mandatory": "", "expression": ""}],"storage":[{"mandatory": "", "expression": ""}],"extensibility":[{"mandatory": "", "expression": ""}]}",
  "administrators": "[{ "email":"" }]"
}